@import "@/styles/core/variables";

.footerWip {
  background-color: $primary-color;
  height: 5vh;
  display: flex;
  justify-content: space-around;
  align-items: center;

  &__icons {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50%;
  }
}
