.header {
  height: 5vh;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  &__nav {
    width: 100%;
    &__list {
      display: flex;
      justify-content: space-around;

      ul {
        padding: 0 5px;
      }
    }
  }
}
