.screen {
  background-image: url("@/assets/background_cloud.webp");
  background-size: cover;
}

.wip {
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  &__mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    width: 225px;
    height: 400px;
    border-radius: 6%;
    box-shadow: 7px 5px 5px grey;
    transform: rotate(-13deg);
    padding: 15px 0;
    &__line {
      &-top {
        background-color: white;
        width: 30px;
        height: 5px;
        border-radius: 20%;
      }
      &-bottom {
        background-color: white;
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
    }
    &__text {
      color: whitesmoke;
      text-align: center;
      font-size: 35px;
    }
    @media (min-width: 1024px) {
      transform: rotate(-15deg);
    }
  }
  &__desktop {
    display: none;
    &__screen {
      @media (min-width: 1024px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: black;
        width: 630px;
        height: 400px;
        border-radius: 6%;
        box-shadow: 7px 5px 5px grey;
        transform: rotate(10deg);
        padding: 10px 0;

        &__line {
          &-around {
            border: 5px solid whitesmoke;
            width: 95%;
            height: 95%;
            border-radius: 6%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          }
        }
        &__text {
          color: whitesmoke;
          text-align: center;
          font-size: 35px;
        }
      }
    }
    @media (min-width: 1024px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &__line-bottom {
        background-color: black;
        box-shadow: 7px 5px 5px grey;
        transform: rotate(10deg);
        width: 95px;
        height: 85px;
        margin: -10px 90px 0 0;
      }
    }
  }
  @media (min-width: 1024px) {
    justify-content: space-around;
  }
}

.footerWip {
  height: 5vh;
  display: flex;
  justify-content: space-around;
  align-items: center;

  &__icons {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50%;
  }
}
