* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li::marker {
  content: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  width: fit-content;
  cursor: pointer;
}

fieldset {
  border: 0;
}

input {
  align-self: self-start;
}
