* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li::marker {
  content: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  width: fit-content;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  outline: none;
}

fieldset {
  border: 0;
}

input {
  align-self: self-start;
}

select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  outline: none;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
