$primary-color: #2563eb;

$secondary-color: #f472b6;

$bg-light: #f8fafc;

$bg-dark: #0f172a;

$text-dark: #000000;

$text-light: #ffffff;

// Superficies (tarjetas, paneles, modales)
$surface-light: #e7c3e5;
$surface-dark: #314e7b;

// Sombras
$shadow-dark: #314e7b;
$shadow-light: #e7c3e5;

// Mixin reutilizable para botones y enlaces
@mixin button-link-style {
  display: inline-block;
  padding: 0.7rem 1.5rem;
  border-radius: 8px;
  background-color: $secondary-color;
  color: $text-dark;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  font-weight: bold;
  transition:
    transform 0.2s ease,
    background-color 0.2s ease;
  border: none;
  cursor: pointer;

  &:hover {
    transform: translateY(-2px);
    background-color: lighten($secondary-color, 5%);
  }
}
