.header {
  background-color: lightgray;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px;
  &__nav {
    display: none;
  }
  @media (min-width: 1024px) {
    &__nav {
      display: flex;
      justify-content: space-around;
      width: 100%;
      &__list {
        width: 33%;
        display: flex;
        justify-content: space-around;

        &__element {
          padding: 5px;
          transition: background-color 0.3s, transform 0.3s;
          &:hover {
            cursor: pointer;
            border-radius: 40%;
            background-color: pink;
            transform: scale(1.1);
          }
        }
      }
    }
  }
}
