@import "@/styles/core/variables";

.header {
  background-color: $primary-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  &__nav {
    display: none;
    &__list {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  }
  &__logo {
    width: 40px;
    @media (min-width: 1024px) {
      order: 0;
    }
  }
  @media (min-width: 1024px) {
    &__nav {
      display: flex;
      justify-content: space-around;
      width: 33%;
      order: 1;
      &__list {
        // width: 33%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        &__element {
          padding: 5px;
          transition: background-color 0.3s, transform 0.3s;
          &:hover {
            cursor: pointer;
            border-radius: 40%;
            background-color: $secondary-color;
            transform: scale(1.1);
          }
        }
      }
    }
  }
}

.mode {
  @media (min-width: 1024px) {
    order: 2;
  }
}
