.menu {
  &__icon {
    width: 25px;
    height: 25px;
    @media (min-width: 1024px) {
      display: none;
    }
  }
  &__open {
    background-color: green;
  }
  &__close {
    display: none;
  }
}
