.menu {
  position: fixed;
  height: 100vh;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  padding: 5px;
  &__icon {
    &__open {
      width: 25px;
      height: 25px;
      cursor: pointer;
      // position: relative;
      @media (min-width: 1024px) {
        display: none;
      }
    }
    &__close {
      width: 25px;
      height: 25px;
      cursor: pointer;
    }
  }
  &__open {
    z-index: 2;
    width: 6rem;
    background-color: green;
    transition: all 1s ease-in-out;
    transform: translateX(0);
    &__bg {
      position: fixed;
      background-color: rgb(25, 23, 23, 0.5);
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
    }
    @media (min-width: 1024px) {
      display: none;
    }
  }
  &__close {
    visibility: hidden;
    transform: translateX(100%);
    transition: all 0.5s ease-in-out;

    @media (min-width: 1024px) {
      display: none;
    }
  }
  &__nav-element {
    margin-top: 10px;
    padding: 5px;
    transition: background-color 0.3s, transform 0.3s;
    &:hover {
      cursor: pointer;
      border-radius: 40%;
      background-color: pink;
      transform: scale(1.1);
    }
  }
}
