.menu {
  &__icon {
    &__open {
      width: 25px;
      height: 25px;
      cursor: pointer;
      position: relative;
      @media (min-width: 1024px) {
        display: none;
      }
    }
    &__close {
      width: 25px;
      height: 25px;
      cursor: pointer;
    }
  }
  &__open {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 35%;
    background-color: green;
    // transition: all 300s ease-in-out;
    // translate: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
    padding: 5px;
  }
  &__close {
    display: none;
    // transition: all 300s ease-in-out;
    // translate: 100vh;
  }
}
