.menu {
  &__icon {
    &__open {
      width: 25px;
      height: 25px;
      cursor: pointer;
      // position: relative;
      @media (min-width: 1024px) {
        display: none;
      }
    }
    &__close {
      width: 25px;
      height: 25px;
      cursor: pointer;
    }
  }
  &__open {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 6rem;
    background-color: green;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
    padding: 5px;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);

    @media (min-width: 1024px) {
      display: none;
    }
  }
  &__close {
    position: fixed;
    visibility: hidden;
    transform: translateX(100%);

    @media (min-width: 1024px) {
      display: none;
    }
  }
  &__nav-element {
    margin-top: 10px;
    padding: 5px;
    transition: background-color 0.3s, transform 0.3s;
    &:hover {
      cursor: pointer;
      border-radius: 40%;
      background-color: pink;
      transform: scale(1.1);
    }
  }
}
