.root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;

  font-family: "Elms Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.mode {
  &__light {
    color: purple;
    a {
      color: purple;
    }
  }
  &__dark {
    color: white;
    a {
      color: white;
    }
  }
}
