@import "@/styles/core/variables";

.root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;

  font-family: "Elms Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.mode {
  &__light {
    background-color: $bg-light;
    color: $text-dark;
    a {
      color: $text-dark;
    }
  }
  &__dark {
    background-color: $bg-dark;
    color: $text-light;
    a {
      color: $text-light;
    }
  }
}
