@import "@/styles/core/variables";

.filters {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
  &__filterByTech {
    color: $bg-dark;
    border-bottom: 3px $secondary-color solid;
  }
  &__resetButton {
    @include button-link-style;
  }
  @media (min-width: 768px) {
    flex-direction: column;
    gap: 10px;
  }
}
