@import "@/styles/core/variables";

.detailsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__back {
    @include button-link-style;
    margin-bottom: 20px;

    @media (min-width: 1024px) {
      position: absolute;
      top: 90px;
      left: 30px;
      margin: 0;
    }
  }
  &__img {
    border-radius: 10%;
    width: 90vw;
    :hover {
      transform: scale(0.97);
      box-shadow: 0px 0px 20px 3px black;
    }
    @media (min-width: 768px) {
      width: 70vw;
    }
    @media (min-width: 1024px) {
      width: 40vw;
    }
    @media (min-width: 1200px) {
      width: 30vw;
    }
  }
  &__text {
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: justify;
    &__ancles {
      margin: 20px 0;
      display: flex;
      justify-content: space-around;
      gap: 1rem;
      flex-wrap: wrap;

      a {
        @include button-link-style;
      }
    }
    @media (min-width: 1024px) {
      width: 40vw;
    }
  }
  @media (min-width: 1024px) {
    flex-direction: row;
    margin-left: 20px;
    justify-content: space-around;
    height: 100%;
  }
}
