@import "@/styles/core/variables";

.detailsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__back {
    background-color: $secondary-color;
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 40%;
    @media (min-width: 1024px) {
      position: absolute;
      top: 90px;
      left: 30px;
      margin: 0;
    }
  }
  &__img {
    border-radius: 10%;
    width: 90vw;
    @media (min-width: 768px) {
      width: 70vw;
    }
    @media (min-width: 1024px) {
      width: 30vw;
    }
  }
  &__text {
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: justify;
    &__ancles {
      margin: 20px 0;
      display: flex;
      justify-content: space-around;
      a {
        padding: 5px;
        border: 3px solid $secondary-color;
        border-radius: 40%;
        &:hover {
          box-shadow: 4px 4px 5px $secondary-color;
          background-color: $secondary-color;
          border: 3px solid $terciary-color;
          transform: scale(1.1);
        }
      }
    }
    @media (min-width: 1024px) {
      width: 40vw;
    }
  }
  @media (min-width: 1024px) {
    flex-direction: row;
    margin-left: 20px;
    justify-content: space-around;
    height: 100%;
  }
}
